<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="static/img/favicon.png" type="static/image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/styles.css">
        

        <title>House Price Prediction</title>
    </head>
    <body class="dark-theme">
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo"></a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">Discover</a>
                        </li>
                        <li class="nav__item">
                            <a href="#Submit" class="nav__link">About</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Dark mode</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="static/img/home1.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Discover your place</span>
                        <h1 class="home__data-title">Explore The <br> Best <b>Houses <br> By your choice</b></h1>
                        <a href="#about" class="button">Explore</a>

                    </div>

                    
                    <div class="home__info">
                        <div>
                            <span class="home__info-title">Best House</span>
                            <a href="#Discover" class="button button--flex button--link home__info-button">
                                Predict <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>

                        <div class="home__info-overlay">
                            <img src="static/img/home1.webp" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">More Information <br> About This App</h2>
                        <p class="about__description">This House Price Prediction app is a machine learning tool 
                            that allows users to predict the price of a house in 5 major metropolitan cities in 
                            India (Delhi, Mumbai, Bangalore, Hyderabad, Chennai).It uses features like location, 
                            area, number of bedrooms,and whether it's a new or resale property.
                        </p>
                        <a href="#Discover" class="button">Predict Price</a>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="static/img/home2.webp" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="static/img/home3.jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
           
              <!--==================== VIDEO ====================-->
              <section class="video section" id="Discover">
                <h2 class="section__title" style="margin-bottom: 5px;"><u>Welcome to House Price Predictor</u></h2>

                <div class="video__container container">
                    
                      
                      
                    <div class="video__content">
                        <section id="search-section" class="my-5">
                        <form method="post" accept-charset="utf-8">
                            <div class="container">
                            <div class="col-md-11 mx-auto search-area shadow">
                       
                    

                            <div class="container">
                                <div class="row">
                                    <div class="card mt-50" style="width: 100%; height: 100%">
                                        
                                        <div class="card-body">
                                            <div class="col-12" style="text-align: center">
                                                <h5>This app predicts the price of a House you want to sell or Buy. Try filling the details below. </h5>
                                            </div>
                                            <br>
                                            <form method="post" accept-charset="utf-8" name="Modelform" action="{{ url_for('index') }}">
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <label for="city"><b>Select a city:</b> </label><br>
                                                    <select class="selectpicker form-control" id="city" name="city" onchange="updateLocations()">
                                                        {% if request.method == 'GET' %}
                                                            <option value="" disabled selected>Please select a city</option>
                                                        {% endif %}
                                                        {% for city in cities %}
                                                            {% if request.form.city == city %}
                                                                <option value="{{ city }}" selected>{{ city }}</option>
                                                            {% else %}
                                                                <option value="{{ city }}">{{ city }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-10 form-group" style="text-align: center" >
                                                    <label for="location"><b>Select a location:</b> </label><br>
                                                    <select class="selectpicker form-control" id="locations" name="location" required="1" placeholder="Select the Location">
                                                        <option value="" disabled selected>Please select a location</option>
                                                        {% for location in locations %}
                                                            <option value="{{ location }}">{{ location }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <label><b>Select the No. Of Bedrooms</b> </label><br>
                                                    <select class="selectpicker form-control" id="Bedrooms" name="Bedrooms" required="1" placeholder="Select the No. Of Bedrooms">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <label><b>Re-sale:</b> </label><br>
                                                    <select class="selectpicker form-control" id="Re-sale" name="Re-sale" required="1">
                                                        <option>No</option>
                                                        <option>Yes</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <label><b>Enter the Area:</b> </label><br>
                                                    <input type="text" class="form-control" id="Area" name="Area"
                                                           placeholder="Enter the Area(in sqft)" required="1">
                                                </div>
                                                <br>
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <input type="checkbox" id="checkbox-id" name="check_Features" disabled>
                                                    <label for="checkbox-id">Choose Other Features</label>
                                                </div>
                                                <br>
                                                <div id="sub-checkboxes" style="display: none;text-align: center">
                                                    <input type="checkbox" id="checkbox1" name="checkbox1">
                                                    <label for="checkbox1">Power Backup</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox2" name="checkbox2">
                                                    <label for="checkbox2">24X7 Security</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox3" name="checkbox3">
                                                    <label for="checkbox3">Car Parking</label>
                                                    <br><br>
                                                    <input type="checkbox" id="checkbox4" name="checkbox4">
                                                    <label for="checkbox4">Gas Connection</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox5" name="checkbox5">
                                                    <label for="checkbox5">Club House</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox6" name="checkbox6">
                                                    <label for="checkbox6">Swimming Pool</label>
                                                    <br><br>
                                                    <input type="checkbox" id="checkbox7" name="checkbox7">
                                                    <label for="checkbox4">Gymnasium</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox8" name="checkbox8">
                                                    <label for="checkbox5">Rain Water Harvesting</label>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="checkbox" id="checkbox9" name="checkbox9">
                                                    <label for="checkbox6">Sports Facility</label>
                                                </div>
                                                <br>  
                                                <div class="col-md-10 form-group" style="text-align: center">
                                                    <button  class="btne btne-theme1-2 form-control" onclick="send_data()">Predict Price</button>
                                                </div>
                                            </form>
                                            <br>
                                            <br>
                                            <div class="row">
                                                
                                                <div class="col-12" style="text-align: center">
                                                    <h4><span id="prediction"></span></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </section>
                        <video id="video-file">
                          
                        </video>
                      
                        <button class="button button--flex video__button" id="video-button">
                            
                        </button>
                    </div>
                </div>
            </section>
          

            <!--==================== EXPERIENCE ====================-->
            <section class="experience section" style="margin-top: -100px;">
                <div class="experience__container container grid">
                    <div class="experience__img grid">
                        <div class="experience__overlay">
                            <img src="static/img/home1.webp" alt="" class="experience__img-one">
                        </div>
                        
                        <div class="experience__overlay">
                            <img src="static/img/home2.webp" alt="" class="experience__img-two">
                        </div>
                    </div>
                </div>
            </section>

                      
         

            <!--==================== SUBSCRIBE ====================-->
            <section class="subscribe section" id="Submit">
                <div class="subscribe__bg">
                    <div class="subscribe__container container">
                        <h2 class="section__title subscribe__title"><u>Contact Us</u></h2>
                        <p class="subscribe__description">Please Give Your Feedback For This App So That We Can Improve It.
                        </p>
                        <div style="text-align: center;">
                            <a href="https://forms.gle/Dav73iweGaKT68Bc9" class="button">Submit Feedback or Query Here</a>
                        </div>
                        <br> <br> 
                        <a onclick="showText()" style="cursor: pointer;">
                            <h2 class="section__title subscribe__title"><u>About Us</u></h2>
                        </a>                        
                        <p id="text" style="display: none; text-align: center;"></p>
                    </div>
                </div>
            </section>
            
            
          

        <!--==================== FOOTER ====================-->
        

                <div class="footer__rights">
                    <p class="footer__copy">&#169; 2022 House Price Prediction</p>
                </div>
            </div>
        </footer>


         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>
        <script>

            function form_handler(event) {
                   event.preventDefault(); // Don't submit the form normally
            }
            function send_data(){
                document.querySelector('form').addEventListener("submit",form_handler);
                var fd=new FormData(document.querySelector('form'));
                var xhr= new XMLHttpRequest({mozSystem: true});
                xhr.open('POST','/predict',true);
                document.getElementById('prediction').innerHTML="Wait! Predicting Price.....";
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == XMLHttpRequest.DONE){
                        document.getElementById('prediction').innerHTML="Prediction: ₹"+xhr.responseText;
                    }
                };
                xhr.onload= function(){};

                 xhr.send(fd);

            }  

            function showText() {
                document.getElementById("text").innerHTML = "This is an end-to-end ML project. Front-end designed by Princika and Back-end by Prafull.";
                document.getElementById("text").style.display = "block";
            }


            function updateLocations() {
                // Get the selected city
                var city = document.getElementById("city").value;

                // Send a POST request to the server with the selected city as the data
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Update the locations dropdown list with the response from the server
                        var locations = JSON.parse(this.responseText);
                        var locationSelect = document.getElementById("locations");
                        locationSelect.innerHTML = "";
                        for (var i = 0; i < locations.length; i++) {
                            var option = document.createElement("option");
                            option.value = locations[i];
                            option.text = locations[i];
                            locationSelect.appendChild(option);
                        }
                    }
                };
                xhttp.open("POST", "{{ url_for('index') }}", true);
                xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhttp.send("city=" + city);
            }
        </script>
        
        <script>
            const selectPicker = document.getElementById("locations");
            const checkbox = document.getElementById("checkbox-id");
          
            selectPicker.addEventListener("change", function() {
                const pythonList = JSON.parse('{{ pythonList|tojson|safe }}');
                const selectedItem = selectPicker.value;
            
                if (pythonList.includes(selectedItem)) {
                    checkbox.disabled = false;
                } else {
                    checkbox.disabled = true;
                }
            });
        </script>

        <script>
            const mainCheckbox = document.getElementById("checkbox-id");
            const subCheckboxes = document.getElementById("sub-checkboxes");
        
            mainCheckbox.addEventListener("change", function() {
                if (this.checked) {
                    subCheckboxes.style.display = "block";
                } else {
                    subCheckboxes.style.display = "none";
                }
            });
        </script>        

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6236868550848062" crossorigin="anonymous"></script>
    
        <!--=============== SCROLL REVEAL===============-->
        <script src="static/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
    </body>
</html>